---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=prague
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ESrwNAWE3+pwt3/YKw86OQ==zRF1bwPj7QIs4Eh6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1071f647-e5e4-4a39-9074-c939fdecff82
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JQyXAFBQPHcFyMA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 203.61, "aqi": 2}, "NO2": {"concentration":
        4.46, "aqi": 5}, "O3": {"concentration": 41.13, "aqi": 34}, "SO2": {"concentration":
        1.67, "aqi": 2}, "PM2.5": {"concentration": 1.07, "aqi": 3}, "PM10": {"concentration":
        1.42, "aqi": 1}, "overall_aqi": 34}'
  recorded_at: Sun, 06 Aug 2023 23:47:06 GMT
recorded_with: VCR 6.2.0
